// 1280

h1 {
	font-size: $large-font-size;
	line-height: $large-line-height;
}

h2 {
	font-size: $md-medium-2-font-size;
	line-height: $md-medium-2-line-height;
}

h3 {
	font-size: $md-medium-font-size;
	line-height: $md-medium-line-height;
}

h4 {
	font-size: $md-normal-font-size;
	line-height: $md-normal-line-height;
}

body, p {
	font-size: $normal-font-size;
	line-height: $normal-line-height;
}

header {
	.wrapper {
		padding: 0 5%;
	}
}

.rwd-line {
	display: block;
}

.off-1280 {
	display: none !important;
}

.page.index {

		.cover {
			background-image: url('assets/hero/hero_1280.jpg');
			background-position: top center;
			height: 640px;

			.inside {
				padding: 160px 0 0;
			}
		}
}

.platform-links {
	display: block;
}
