body {
	color: $primary-color;
	font-family: $secondary-font;
}

body, p {
	font-size: $normal-font-size;
	line-height: $normal-line-height;
}

h1, h2, h3, h4, h5 {
  display: block;
}

h1, h2, h3 {
  font-family: $third-font;
}

h4, h5 {
  font-family: $primary-font;
}

h1 {
	font-size: $large-font-size;
  line-height: $large-line-height;
  padding: 24px 0 16px;
	text-align: center;
}

h2 {
	font-size: $medium-2-font-size;
	line-height: $medium-2-line-height;
	padding: 24px 0 16px;
	text-align: center;
}

h3 {
  font-size: $medium-font-size;
  line-height: $medium-line-height;
	padding: 16px 0 8px;
}

h4 {
  font-size: $normal-font-size;
  font-weight: 500;
  line-height: $normal-line-height;
	padding: 8px 0 4px;
}

// Headings modifiers

.wnl-page-title {
	padding-top: 64px;
	box-shadow: $shadow-bottom;
}

.wnl-section-heading {
	padding-top: 80px;
}

.lead {
	font-family: $primary-font;
}

// Paragraphs

p {
	display: block;
	padding: 8px 0 16px;
}

p.wnl-page-subtitle {
	font-family: $primary-font;
	text-align: center;
}

.caption {
	color: $gray-color;
	font-size: $small-font-size;
	font-style: italic;
	line-height: $small-line-height;
}

.metadata {
	font-family: $primary-font;
	font-size: $small-font-size;
	font-weight: 600;
	line-height: $small-line-height;
	text-transform: uppercase;
}

em {
	font-style: italic;
}

strong {
	font-weight: 600;
}

a,
a:visited {
	color: $green-color;
	text-decoration: none;
	transition: color 0.25s;
}

a:hover,
a:active {
	color: $light-green-color;
	transition: color 0.25s;
}

ul:not([class]) {
	margin: 8px 0;
	padding: 0 0 0 32px;

	li {
		list-style-type: disc;
		margin: 8px;

		li {
			list-style-type: circle;
		}
	}
}

ol:not([class]) {
	margin: 8px 0;
	padding: 0 0 0 32px;

	li {
		list-style-type: decimal;
	}
}

ol.lower-alpha {
	margin: 15px 0 15px 30px;

	li {
		list-style-type: lower-alpha;
	}
}

.table {
	font-family: $primary-font;
	font-size: 0.75em;

	th {
		font-weight: bold;
	}

	th,
	td {
		border: 1px solid $gray-color;
		padding: 10px 20px;
	}
}

div {
	display: block;
}

// Buttons

.button {
	border-radius: 20px;
	cursor: pointer;
	display: inline-block;
	font-family: $primary-font;
	font-size: $small-font-size;
	font-weight: 600;
	height: 40px;
	line-height: 40px;
	padding: 0 28px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.button__primary,
.button__primary:visited,
.button__primary:active {
	background-color: $green-color;
	color: $white-color;
	transition: background 0.25s;

	&:hover {
		background-color: $light-green-color;
		color: $white-color;
		transition: background 0.25s;
	}
}

.button__secondary,
.button__secondary:visited,
.button__secondary:active {
	border: 1px solid $green-color;
	border-radius: 100px;
	color: $green-color;
	transition: border 0.25s;

	&:hover {
		border: 1px solid $light-green-color;
		color: $light-green-color;
		transition: border 0.25s;
	}
}

.button-inverted {
	border: 1px solid $white-color;
	border-radius: 200px;
	color: $white-color;
	cursor: pointer;
	display: inline-block;
	font-family: $primary-font;
	font-size: 1.2rem;
	font-weight: 600;
	height: 50px;
	line-height: 50px;
	padding: 0 28px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		border-color: $light-green-color;
		color: $light-green-color;
	}
}

.more {
	align-items: center;
	color: $primary-color;
	display: flex;
	font-family: $primary-font;
	font-size: $small-font-size;
	font-weight: bold;
	text-transform: uppercase;

	&:visited {
		color: $primary-color;
	}

	img {
		margin-left: 15px;
	}
}

// Card item

.cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	.card {
		flex: 1 1 auto;
		margin: 10px 20px;
		padding: 20px;
		text-align: center;
		width: 250px;

		&.with-shadow {
			border-radius: 5px;
			box-shadow: $card-box-shadow;
			margin-bottom: 30px;
		}
	}

	.card-title {
		font-family: $primary-font;
		font-size: 1.2rem;
		font-weight: 700;
	}

	.card-subtitle {
		color: $dark-background;
		font-family: $primary-font;
		font-size: 0.8rem;
	}

	.card-content {
		font-family: $primary-font;
		font-size: 1rem;
		line-height: 1.8rem;
	}

	.card-content-list {
		font-family: $primary-font;
		font-size: 1rem;

		li {
			border-bottom: 1px solid $background-overlay-light;
			list-style-type: none;
			padding: 5px 0;

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	.image {
		min-height: 170px;
		max-height: 170px;
		margin: 0 auto;
	}

	.big-number {
		border: 1px solid $primary-color;
		border-radius: 200px;
		box-sizing: border-box;
		font-family: $primary-font;
		font-size: 2rem;
		font-weight: 700;
		height: 4rem;
		line-height: 3rem;
		margin: 0 auto;
		padding: 9px 10px;
		width: 4rem;
	}
}

// Auxilliary classes

.inverted {
	color: $white-color;
}

.expandable {
	position: relative;

	.cloud {
		bottom: 0;
		display: none;
		height: 200px;
		position: absolute;
		text-align: center;
	}

	&.folded {
		height: 450px;
		overflow: hidden;

		.cloud {
			align-items: flex-end;
			background: rgba(255,255,255,0);
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
			display: flex;
			justify-content: center;;
			width: 100%;
			z-index: 40;

			img {
				cursor: pointer;
			}
		}
	}
}

// Timeline
.timeline {
	margin: 20px 0;
	width: 100%;

	.row {
		display: flex;
		flex-wrap: wrap;
	}

	.column {
		align-items: center;
		flex: 1 0 150px;
		justify-content: center;
		max-width: 100%;

		&.is-2 {
			flex: 2 0 300px;
		}

		&.is-3 {
			flex: 3 0 450px;
		}
	}

	.box {
		align-items: center;
		background-color: $green-color;
		color: $white-color;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		font-family: $primary-font;
		font-size: $small-font-size;
		min-height: 125px;
		justify-content: center;
		margin: 10px;
		text-transform: uppercase;

		&.empty {
			background-color: $white-color;
			border: 1px solid $green-color;
			color: $green-color;
		}
	}

	.box-title {
		line-height: 1.2em;
		margin-bottom: 5px;
		padding: 0 5px;
		text-align: center;
	}

	.box-meta {
		font-size: 0.8em;
		line-height: 1.2em;
		padding: 0 5px;
		text-align: center;
	}
}

.no-shadow {
	box-shadow: none !important;
}

.wrapper {
	@include clearfix;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.flex-center-h {
	display: flex;
	justify-content: center;
}

.flex-center-v {
	display: flex;
	align-items: center;
}

.responsive-iframe {
	width: 75%;
	min-width: 280px;
	max-width: 800px;
}

.margin {

	&.vertical {
		margin: 1.5em 0;
	}
}

.marginless {
	margin: 0;
}

.paddingless {
	padding: 0;
}
