body {
	color: $primary-color;
	font-family: $secondary-font;
}

body, p {
	font-size: $normal-font-size;
	line-height: $normal-line-height;
}

h1, h2, h3, h4, h5 {
  display: block;
}

h1, h2, h3 {
  font-family: $third-font;
}

h4, h5 {
  font-family: $primary-font;
}

h1 {
	font-size: $large-font-size;
  line-height: $large-line-height;
  padding: 24px 0 16px;
	text-align: center;
}

h2 {
	font-size: $medium-2-font-size;
	line-height: $medium-2-line-height;
	padding: 24px 0 16px;
	text-align: center;
}

h3 {
  font-size: $medium-font-size;
  line-height: $medium-line-height;
	padding: 16px 0 8px;
}

h4 {
  font-size: $normal-font-size;
  font-weight: 500;
  line-height: $normal-line-height;
	padding: 8px 0 4px;
}

// Headings modifiers

.wnl-page-title {
	padding-top: 64px;
	box-shadow: $shadow-bottom;
}

.wnl-section-heading {
	padding-top: 80px;
}

// Paragraphs

p {
	display: block;
	padding: 8px 0 16px;
}

p.wnl-page-subtitle {
	font-family: $primary-font;
	text-align: center;
}

.caption {
	color: $gray-color;
	font-size: $small-font-size;
	font-style: italic;
	line-height: $small-line-height;
}

.metadata {
	font-family: $primary-font;
	font-size: $small-font-size;
	font-weight: 600;
	line-height: $small-line-height;
	text-transform: uppercase;
}

em {
	font-style: italic;
}

strong {
	font-weight: 600;
}

a,
a:visited {
	color: $green-color;
	text-decoration: none;
	transition: color 0.25s;
}

a:hover,
a:active {
	color: $light-green-color;
	transition: color 0.25s;
}

ul:not([class]) {
	margin: 8px 0;
	padding: 0 0 0 32px;

	li {
		list-style-type: disc;
		margin: 8px;

		li {
			list-style-type: circle;
		}
	}
}

ol:not([class]) {
	margin: 8px 0;
	padding: 0 0 0 32px;

	li {
		list-style-type: decimal;
	}
}

div {
	display: block;
}

// Buttons

.button {
	border-radius: 20px;
	cursor: pointer;
	display: inline-block;
	font-family: $primary-font;
	font-size: $small-font-size;
	font-weight: 600;
	height: 40px;
	line-height: 40px;
	padding: 0 28px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.button__primary,
.button__primary:visited,
.button__primary:active {
	background-color: $green-color;
	color: $white-color;
	transition: background 0.25s;

	&:hover {
		background-color: $light-green-color;
		color: $white-color;
		transition: background 0.25s;
	}
}

// Auxilliary classes

.no-shadow {
	box-shadow: none !important;
}

.wrapper {
	@include clearfix;
}
