body {
	color: $primary-color;
	font-family: $secondary-font;
	font-size: $normal-font-size;
	line-height: $normal-line-height;
}

h1, h2, h3, h4, h5 {
  display: block;
}

h1, h2 {
  font-family: $third-font;
}

h3, h4, h5 {
  font-family: $primary-font;
}

h1 {
	font-size: $large-font-size;
  line-height: $large-line-height;
  padding: 24px 0 16px;
	text-align: center;
}

h1.wnl-page-title {
	padding-top: 64px;
	box-shadow: $shadow-bottom;
}

h2 {
	font-size: $medium-2-font-size;
	line-height: $medium-2-line-height;
	padding: 24px 0 16px;
	text-align: center;
}

h3 {
  font-size: $medium-font-size;
  line-height: $medium-line-height;
	padding: 16px 0 8px;
}

h4 {
  font-size: $normal-font-size;
  font-weight: 500;
  line-height: $normal-line-height;
	padding: 8px 0 4px;
}

p {
	display: block;
	padding: 8px 0 16px;
}

p.wnl-page-subtitle {
	font-family: $primary-font;
	text-align: center;
}

.caption {
	color: $gray-color;
	font-size: $small-font-size;
	font-style: italic;
	line-height: $small-line-height;
}

em {
	font-style: italic;
}

strong {
	font-weight: 600;
}

a,
a:visited {
	color: $green-color;
}

a:hover,
a:active {
	color: $light-green-color;
}

ul:not([class]) {
	margin: 8px 0;
	padding: 0 0 0 32px;

	li {
		list-style-type: disc;
		margin: 8px;

		li {
			list-style-type: circle;
		}
	}
}

div {
	display: block;
}

.background-image {
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: -5;
}

// Auxilliary classes
.no-shadow {
	box-shadow: none !important;
}

.wrapper {
	@include clearfix;
}
