// variables

$primary-color: 	#242D47;
$white-color:		#FFFFFF;
$green-color:		#2999A3;
$gray-color:		#9B9B9B;

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'PT Serif', serif;
$third-font: 'Rubik', sans-serif;

$phone-min-width:	320px;
$phone-max-width:	640px;
$tablet-min-width:	768px;
$tablet-max-width:	1024px;
$desktop-mdpi:		1280px;
$desktop-hdpi:		1440px;

// font

$small-font-size:		14px;
$small-line-height:		22px;
$normal-font-size:		21px;
$normal-line-height:	36px;
$medium-font-size:		30px;
$medium-line-height:	48px;
$medium-2-font-size:	36px;
$medium-2-line-height:	57px;
$large-font-size:		52px;
$large-line-height:		60px;
