// variables

// 1. Colors

$primary-color: #242D47;
$white-color: #FFFFFF;
$green-color: #22afb1;
$light-green-color: #61CED8;
$gray-color: #9B9B9B;
$dark-background: #43495a;
$color-purple: #7c579d;
$color-orange: #fcca57;


$background-overlay: rgba(44,67,104,0.49);
$background-overlay-light: rgba(44,67,104,0.15);
$shadow-bottom: 0 1px 0 0 rgba(0, 0, 0, 0.14);
$card-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);

// 2. Typography

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'PT Serif', serif;
$third-font: 'Rubik', sans-serif;

$small-font-size: 14px;
$small-line-height: 22px;
$minus-font-size: 18px;
$minus-line-height: 30px;
$normal-font-size: 21px;
$normal-line-height: 36px;
$normal-line-height-condensed: 28px;
$medium-font-size: 30px;
$medium-line-height: 48px;
$medium-2-font-size: 36px;
$medium-2-line-height: 57px;
$large-font-size: 52px;
$large-line-height: 60px;

$md-small-font-size: 12px;
$md-small-line-height: 18px;
$md-normal-font-size: 16px;
$md-normal-line-height: 28px;
$md-normal-line-height-condensed: 22px;
$md-medium-font-size: 24px;
$md-medium-line-height: 36px;
$md-medium-2-font-size: 30px;
$md-medium-2-line-height: 48px;
$md-large-font-size: 36px;
$md-large-line-height: 50px;

$xs-small-font-size: 12px;
$xs-small-line-height: 18px;
$xs-normal-font-size: 16px;
$xs-normal-line-height: 28px;
$xs-normal-line-height-condensed: 22px;
$xs-medium-font-size: 18px;
$xs-medium-line-height: 32px;
$xs-medium-2-font-size: 22px;
$xs-medium-2-line-height: 36px;
$xs-large-font-size: 28px;
$xs-large-line-height: 40px;

// 3. Breakpoints

$phone-min-width: 320px;
$phone-max-width: 640px;
$tablet-min-width: 768px;
$tablet-max-width: 1024px;
$desktop-mdpi: 1280px;
$desktop-hdpi: 1440px;
$wrapper-max-width: 960px;

// 4. Elements
$top-bar-height: 80px;
